modules = ["web", "nodejs-20", "bash", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "VidShare Dev Server"

[[workflows.workflow]]
name = "VidShare Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "netlify dev --port 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3999
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34009
externalPort = 3002

[[ports]]
localPort = 37841
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
